*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}



main{
    position: relative;
    text-align: center;
    
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.bold{
    font-weight: bold;
}
.red{
    color: red;
}
.barred{
    text-decoration: line-through;
}



.discountbg-red{
    background-color: red;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 74%;
    left: 2%;
}

.sustainables{
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 74%;
    left: 20%;
}

.sustainable-only{
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 80%;
    left: 0%;
}

.hovers{
    color: #ffffff;
    
}

.hovers:hover{
    color: #9d9d9d;
    text-decoration: none;
    
}

.pointer {cursor: pointer;}


.heart{
    padding: 0.5rem 1rem;
    position:absolute;
    top:3%;
    right: 0%;
    font-size: xx-large;
    background-color: white;
    border-radius: 5%;
}

.heart:hover{
    color:red;
}

.cart{
    padding: 0.5rem 1rem;
    position:absolute;
    top:80%;
    right: 0%;
    font-size: large;
    background-color: white;
    border-radius: 5%;
}

.cart:hover{
    color:red;
}

.last-left{
    background-color: green;
    color: white;
    padding: 0 0.5rem;
    position: absolute;
    top: 80%;
    left: 2%;
}


.none{
    max-width: 300px;
    display:none;
    z-index: 1;
}

.change:hover .none{
    display: block;
}

.change:hover .vanish{
    display: none;
}

.container{
    justify-content: space-around;
    
}



header{
    background-color: #ff6900;
    color: white;
    height: 3rem;    
    width: 100%;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
}



nav{
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0.75rem;
}

a{
    color: white;
    text-decoration: none;
    
    
}
a:hover{
    text-decoration: none;
    color: #9d9d9d;
}


aside ul li:hover{
    color: #ff6900;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


img.logo{
    height: 1.5rem;
}

/* div{
  border: 2px dashed black;
  background-color: aquamarine;
} */

section.p-row{
    width: 80%;
    justify-content: space-around;
    padding-top: 6rem;
    margin: 0 auto;
    flex-wrap: wrap;
}
/* section.p-row div{
    height: 500px;
    width:300px;
  } */

article.img{
    position: relative;
    display: inline-block;
    padding: 0.4rem;
    
}

article.img img{
    max-width: 300px;
    
}


footer{
    color: white;
    
    background-color: #1a1a1a;
    margin-top: 1rem;
    font-size: 0.7rem;

}
section.foot{
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 1rem;
}

div.footer a{
    font-size: 0.8rem;
    padding: 0 .25rem 0 0;
}

aside{
    list-style-type: none;
    color: white;
    line-height: 150%;
    font-size: 1rem;
    
}
aside ul li{
display:inline-block;
margin: 0.5rem;
font-size: 1.5rem;
color: white;

}


